/*
Custom Css

*/

.logo {
width:  50%;

}

.bordeimg {

border-radius:22px;
border: 3px solid green; 
margin-bottom: 1rem;

}

.borde-redondo{
    border-radius: 10%;
}

.justificado{
    text-align: justify!important;
    padding: 1.2rem 0 1rem 0;
}
.distribucion{
    width: 40rem;
}


.vsm{
    width: 160%; 
    padding-right: 5rem;       


    }
    .gestionproyecto{
        width: 90%;
        align-items: center;
        margin: auto;
        padding-left: 5rem;
       
    }
    .grafcet_g{
        width: 100%;
        align-items: center;
        margin: auto;
    }


